//Variable
$common-font: sans-serif;
$font-color: #272829;
$link-color: #149ddd;
$link-hover-color: #37b3ed;
$header-font-color: #fff;
$header-background-color: #040b14;
$photo-border-color:#2c2f3f;

//Shared css

//General css
body {
  font-family: "Open Sans", $common-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", $common-font;
}

//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 19rem;
  padding: 0 15px; //导航栏左边间隙
  background: $header-background-color;
}

//Profile
.profile {
  display: flex;
  flex-direction: column;
  &__photo{
    margin: 15px auto; //居中效果
    width: 8rem;
    border: 8px solid $photo-border-color;
    border-radius: 50%;
  }
  &__paragraph{
    font-size: 1.5rem;
    text-align: center;
    color: $header-font-color;
  }
  &__icon{

  }

}