//Variable
$common-font: sans-serif;
$body-font-color: #272829;
$link-color: #149ddd;
$header-font-color: #fff;
$header-background-color: #040b14;
$photo-border-color: #2c2f3f;
$icon-background-color: #212431;
$nav-font-color: #a8a9b4;
$section-title-color: #173b6c;
$section-underline-color:#149ddd;

//Shared css
%section-title-shared{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: $section-title-color;
}

%section-title-underline-shared{
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background: $section-underline-color;
  bottom: 0;
  left: 0;
}

%section-paragraph-shared{
  margin-bottom: 0;
}

//General css
body {
  font-family: "Open Sans", $common-font;
  color: $body-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", $common-font;
}

section {
  padding: 4rem 0;
  overflow: hidden;
}

//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14rem;
  padding: 0 1rem; //导航栏左边间隙
  background: $header-background-color;
}

//Profile
.profile {
  display: flex;
  flex-direction: column;
  color: $header-font-color;

  &__photo {
    margin: 1rem auto; //居中效果
    width: 7rem;
    border: 0.5rem solid $photo-border-color;
    border-radius: 50%;
  }

  &__paragraph {
    font-size: 1.5rem;
    text-align: center;
  }

  &__icon {
    text-align: center;

    &__item {
      font-size: 1rem;
      color: $header-font-color;
      margin: 0 1rem;
    }
  }
}

//Navigation
.navigation {
  color: $header-font-color;
  padding-top: 2rem;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      padding: 0.8rem 1rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      a{
        text-decoration: none;
        color: $nav-font-color;
      }
      &__icon {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}

//Introduction
.introduction {
  background: url("../images/introduciton.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  &__title{
    font-size: 4rem;
    margin: 0 0 1rem 0;
    font-weight: 700;
    line-height: 3.5rem;
  }
  &__paragraph{
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-family: "Poppins", $common-font;
    &__animation{
      padding-bottom: 0.3rem;
      letter-spacing: 0.1rem;
      border-bottom: 0.3rem solid $link-color;
    }
  }
}

//Main
.main{
  margin-left: 17rem;
}

//About
.about{
  &__title{
    @extend %section-title-shared;
  }
  &__title::after{
    @extend %section-title-underline-shared;
  }
  &__paragraph{
    @extend %section-paragraph-shared;
  }
}

//Resume
.resume{
  &__title{
    @extend %section-title-shared;
  }
  &__title::after{
    @extend %section-title-underline-shared;
  }
  &__paragraph{
    @extend %section-paragraph-shared;
  }
}

//Project
.project{
  &__title{
    @extend %section-title-shared;
  }
  &__title::after{
    @extend %section-title-underline-shared;
  }
  &__paragraph{
    @extend %section-paragraph-shared;
  }
}

//Skill
.skill{
  &__title{
    @extend %section-title-shared;
  }
  &__title::after{
    @extend %section-title-underline-shared;
  }
  &__paragraph{
    @extend %section-paragraph-shared;
  }
}