.blog__title, .skill__title, .project__title, .resume__title, .about__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: #173b6c;
}

.blog__title::after, .skill__title::after, .project__title::after, .resume__title::after, .about__title::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.resume__paragraph, .about__paragraph {
  margin-bottom: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 4rem 0;
  overflow: hidden;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 14rem;
  padding: 0 1rem;
  background: #040b14;
  z-index: 99;
}

.main {
  margin-left: 17rem;
}

.responsive__toggle {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #149ddd;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 99;
}

.responsive__toggle--active .header {
  left: 0;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }

  .main {
    margin-left: 0;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.profile__photo {
  margin: 1rem auto;
  width: 7rem;
  border: 0.5rem solid #2c2f3f;
  border-radius: 50%;
}
.profile__paragraph {
  font-size: 1.5rem;
  text-align: center;
}
.profile__icon {
  text-align: center;
}
.profile__icon__item {
  font-size: 1rem;
  color: #fff;
  margin: 0 1rem;
}

.navigation {
  color: #fff;
  padding-top: 2rem;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__list__item {
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.navigation__list__item a {
  text-decoration: none;
  color: #a8a9b4;
}
.navigation__list__item a:hover {
  color: #fff;
}
.navigation__list__item__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.introduction {
  background: url("../images/introduciton.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.introduction__title {
  font-size: 4rem;
  margin: 0 0 1rem 0;
  font-weight: 700;
  line-height: 3.5rem;
}
.introduction__paragraph {
  margin-bottom: 4rem;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
.introduction__paragraph__animation {
  padding-bottom: 0.3rem;
  letter-spacing: 0.1rem;
  border-bottom: 0.3rem solid #149ddd;
}

.about ul {
  list-style: none;
  padding: 0;
}
.about ul li {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.about ul li strong {
  margin-right: 1rem;
}
.about ul i {
  font-size: 1rem;
  margin-right: 0.4rem;
  color: #149ddd;
  line-height: 0;
}

.resume__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #050d18;
}
.resume__paragraph {
  padding: 0 0 1rem 1rem;
  margin-top: -0.1rem;
  border-left: 0.2rem solid #1f5297;
  position: relative;
}
.resume__paragraph h4 {
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 0.8rem;
}
.resume__paragraph h5 {
  font-size: 1rem;
  background: #e4edf9;
  padding: 0.2rem 1rem;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.resume__paragraph::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: -0.6rem;
  top: 0;
  background: #fff;
  border: 0.15rem solid #1f5297;
}

.project__card--project1 {
  background: url("../images/project1.png") no-repeat;
  background-size: 33rem 20rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  position: relative;
  width: 33rem;
  height: 32rem;
}
.project__card--project1__paragraph {
  position: absolute;
  left: 2rem;
  top: 21rem;
  padding: 1rem 1rem 1rem 1rem;
}
.project__card--project1__paragraph h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #050d18;
}
.project__card--project1:hover {
  opacity: 0.8;
}
.project__card--project2 {
  background: url("../images/project2.png") no-repeat;
  background-size: 33rem 20rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  position: relative;
  width: 33rem;
  height: 32rem;
}
.project__card--project2__paragraph {
  position: absolute;
  left: 2rem;
  top: 21rem;
  padding: 1rem 1rem 1rem 1rem;
}
.project__card--project2__paragraph h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #050d18;
}
.project__card--project2:hover {
  opacity: 0.8;
}

.skill__card--html {
  background: url("../images/html5.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--html:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.skill__card--css {
  background: url("../images/css3.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--css:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.skill__card--js {
  background: url("../images/js.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--js:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.skill__card--react {
  background: url("../images/react.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--react:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.skill__card--nodejs {
  background: url("../images/nodejs.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--nodejs:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}
.skill__card--aws {
  background: url("../images/aws.svg") no-repeat;
  background-size: 10rem 10rem;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}
.skill__card--aws:hover {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.blog__list__item {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
}
.blog__list__item__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: #050d18;
  margin-bottom: 1rem;
}
.blog__list__item__created-time {
  font-size: 0.8rem;
}
.blog__list__item__updated-time {
  font-size: 0.8rem;
}
.blog__list__item__id {
  display: none;
}

/*# sourceMappingURL=index.css.map */
