//Variable
$common-font: sans-serif;
$body-font-color: #272829;
$link-color: #149ddd;
$header-font-color: #fff;
$header-background-color: #040b14;
$photo-border-color: #2c2f3f;
$icon-background-color: #212431;
$nav-font-color: #a8a9b4;
$section-title-color: #173b6c;
$section-underline-color: #149ddd;
$resume-subtitle-color: #050d18;
$resume-banner-color: #1f5297;
$resume-degree-color: #050d18;
$resume-duration-color: #e4edf9;

//Shared css
%section-title-shared {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  color: $section-title-color;
}

%section-title-underline-shared {
  content: '';
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background: $section-underline-color;
  bottom: 0;
  left: 0;
}

%section-paragraph-shared {
  margin-bottom: 0;
}

@mixin project-card($background-image-path){
  background: url($background-image-path) no-repeat;
  background-size: 33rem 20rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  position: relative;
  width: 33rem;
  height: 32rem;

  &__paragraph {
    position: absolute;
    left: 2rem;
    top: 21rem;
    padding: 1rem 1rem 1rem 1rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: $resume-subtitle-color;
    }
  }
  &:hover{
    opacity: 0.8;
  }
}

//General css
body {
  font-family: "Open Sans", $common-font;
  color: $body-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", $common-font;
}

section {
  padding: 4rem 0;
  overflow: hidden;
}

//Remove the default link style
.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}

//Header
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 14rem;
  padding: 0 1rem; //导航栏左边间隙
  background: $header-background-color;
  z-index: 99;
}

//Main Content
.main {
  margin-left: 17rem;
}

//Responsive design
.responsive__toggle{
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: $link-color;
  color: $header-font-color;
  font-size: 3rem;
  text-align: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 99;
}

.responsive__toggle--active .header{
  left: 0;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  .main {
    margin-left: 0;
  }
}
//Profile
.profile {
  display: flex;
  flex-direction: column;
  color: $header-font-color;

  &__photo {
    margin: 1rem auto; //居中效果
    width: 7rem;
    border: 0.5rem solid $photo-border-color;
    border-radius: 50%;
  }

  &__paragraph {
    font-size: 1.5rem;
    text-align: center;
  }

  &__icon {
    text-align: center;

    &__item {
      font-size: 1rem;
      color: $header-font-color;
      margin: 0 1rem;
    }
  }
}

//Navigation
.navigation {
  color: $header-font-color;
  padding-top: 2rem;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      padding: 0.8rem 1rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;

      a {
        text-decoration: none;
        color: $nav-font-color;
        &:hover{
          color: $header-font-color;
        }
      }

      &__icon {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}

//Introduction
.introduction {
  background: url("../images/introduciton.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &__title {
    font-size: 4rem;
    margin: 0 0 1rem 0;
    font-weight: 700;
    line-height: 3.5rem;
  }

  &__paragraph {
    margin-bottom: 4rem;
    font-size: 1.7rem;
    font-family: "Poppins", $common-font;

    &__animation {
      padding-bottom: 0.3rem;
      letter-spacing: 0.1rem;
      border-bottom: 0.3rem solid $link-color;
    }
  }
}

//About
.about {
  &__title {
    @extend %section-title-shared;
  }

  &__title::after {
    @extend %section-title-underline-shared;
  }

  &__paragraph {
    @extend %section-paragraph-shared;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-top: 3rem;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;

      strong {
        margin-right: 1rem;
      }
    }

    i {
      font-size: 1rem;
      margin-right: 0.4rem;
      color: $section-underline-color;
      line-height: 0;
    }
  }
}

//Resume
.resume {
  &__title {
    @extend %section-title-shared;
  }

  &__title::after {
    @extend %section-title-underline-shared;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $resume-subtitle-color;
  }

  &__paragraph {
    @extend %section-paragraph-shared;
    padding: 0 0 1rem 1rem;
    margin-top: -0.1rem;
    border-left: 0.2rem solid $resume-banner-color;
    position: relative;

    h4 {
      line-height: 1rem;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: $resume-degree-color;
      margin-bottom: 0.8rem;
    }

    h5 {
      font-size: 1rem;
      background: $resume-duration-color;
      padding: 0.2rem 1rem;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 0.8rem;
    }
  }

  &__paragraph::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: -0.6rem;
    top: 0;
    background: #fff;
    border: 0.15rem solid $resume-banner-color;
  }

  &__download {
    margin-top: 3rem;
  }
}

//Project
.project {
  &__title {
    @extend %section-title-shared;
  }

  &__title::after {
    @extend %section-title-underline-shared;
  }

  &__card--project1 {
    @include project-card("../images/project1.png")
  }

  &__card--project2 {
    @include project-card("../images/project2.png")
  }
}

//Skill
.skill {
  &__title {
    @extend %section-title-shared;
  }

  &__title::after {
    @extend %section-title-underline-shared;
  }

  &__bar {
    height: 4rem;
    display: block;
    background: none;
    border-radius: 0;

    &__label {
      padding: 0;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: "Poppins", $common-font;
      color: $resume-subtitle-color;

      &__percent {
        float: right;
        font-style: normal;
      }
    }
  }
}
